<ion-view view-title="dashboard-view" class="home-view">
  	<ion-content class="padding">
	  	<div class="dashboard-content" ng-controller="DashCtrl">
	  		<div class="header">
	  			<h1>CheckPlease</h1>
  			</div>

			<button class="nav-item" id="scan">
				<h3 class="nav-item-title">SCAN BY QR CODE</h3>
			</button>

			<button class="nav-item" id="split" ui-sref="profile">
				<h3 class="nav-item-title">PERSONAL INFORMATION</h3>
			</button>

			<button class="nav-item" id="pay-settings">
				<h3 class="nav-item-title">PAYMENT SETTINGS</h3>
			</button>

			<button class="nav-item" id="settings">
			  <h3 class="nav-item-title">SETTINGS</h3>
			</button>

		</div>
	</ion-content>
</ion-view>