<ion-view view-title="login-view" class="login-view">
  <ion-content id="login" scroll="false">
  	<div class="login-content" ng-controller="LoginCtrl">
  		<div class="row">
  			<div class="col">
	  			<h1 id="title">CheckPlease</h1>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="col">
				<div class="login-list has-header">
					<label class="item item-input item-floating-label">
						<span class="input-label">Email</span>
						<input type="text" placeholder="Email" ng-model="user.email">
					</label>
				    <label class="item item-input item-floating-label">
				        <span class="input-label">Password</span>
				        <input type="password" placeholder="Password" ng-model="user.password">
				  	</label>
				</div>
			</div>
		</div>
		<div ng-if="error.length" class="row">
			<div class="col">
				<div id="error">{{ error }}</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button id="login_button" class="button button-full button-royal" ng-click="validate()">Log In</button>
			</div>
		</div>
	  	<!-- <button id="signup-button" class="icon-left" ui-sref="register">Sign Up</button> -->
	</div>
  </ion-content>
</ion-view>